:root {
    --brand-color: #AA200E;

    --dark-color: #292929;

    --light-color: #EDEDE9;

    --primary-text-color: #434455;

    --secondary-text-color: #8E8F99;

    --accent-color: #9FA99E;

    --pressed-state-color: #4B0E06;
}

/* ---------------body--------------- */
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: #ffffff;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
}

.link {
  text-decoration: none;
  transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.link:hover,
.link:focus {
    color: var(--brand-color);
}

.section{
padding-top: 10px;
padding-bottom: 50px;
}


/* ----------------logo---------------- */

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
  /* margin-right: 76px; */
}

.logo-header {
  padding: 24px 0px;
}

.brand-color-logo {
  color: var(--brand-color);
}

.logo-header:hover,
.logo-header:focus {
  color: var(--dark-color);
}

.logo-footer {
  color: var(--light-color);
  margin-right: 0;
  display: flex;
  justify-content: center;
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--light-color);
}

/* ----------------container---------------- */
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
      padding: 0 15px;
  margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
      padding: 0 15px;
  margin: 0 auto;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
      padding: 0 15px;
  margin: 0 auto;
  }
}

/* ----------------header---------------- */

.header {
    width: 100%;
    position: fixed;
    background-color: var(--light-color);
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-list{
justify-content: flex-end;
gap: 15px;
}


@media screen and (max-width: 767px) {
.header-nav{
    display: none;
  }
}


 /* ---------------hero--------------- */
    .hero.section {
    }

 .hero {
  background-color: var(--dark-color);
  padding-top: 112px;
  padding-bottom: 112px;
}

.hero-title {
  max-width: 320px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #EDEDE9;
  /* margin-right: auto;
  margin-left: auto; */
  margin-top: 100px;
  margin-bottom: 20px;
}
.hero-after-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 8px;
  /* text-align: center; */
}
.hero-bg {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bckg1.jpg);
  max-width: 428px;
  height: 432px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
.hero-bg {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bckg1.jpg);
  }
}

